# Python Function

In [1]:
def greet():
    print('hello boss, good morning')
greet()

hello boss, good morning

In [2]:
def greet():
    print('hello boss, good morning')
greet()

def greet():
    print('hello boss, good morning')
greet()

def greet():
    print('hello boss, good morning')
greet()

hello boss, good morning
hello boss, good morning
hello boss, good morning

In [4]:
def greet():
    print('hello boss, good morning')
greet() 
greet()
greet()

hello boss, good morning
hello boss, good morning
hello boss, good morning

In [5]:
def add(x,y): 
    c=x+y
    print(c)  
add(5,6)

11

In [6]:
def add(x,y): 
    c=x+y
    return c 
add(5,6)

11

In [7]:
def greet():
    print('hello boss, good morning')
greet()

def add(x,y): 
    c=x+y
    return c 
add(5,6)

hello boss, good morning

11

In [8]:
def greet():
    print('hello boss, good morning')
def add(x,y): 
    c=x+y
    return c 

greet()
add(5,6)

hello boss, good morning

11

In [9]:
def greet():
    print('hello')
    print('good noon')
    
def add(x,y):
    c=x+y
    print(c)

def sub(x,y):
    d = x-y
    print(d)
    
greet()    
add(5,4)
sub(10,2)

hello
good noon
9
8

In [10]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
result = add_sub(4,5)
print(type(result))

<class 'tuple'>

In [12]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
result, result1 = add_sub(4,5)

print(result)
print(result1)

print(type(result))
print(type(result1))

9
-1
<class 'int'>
<class 'int'>

In [13]:
def add(a,b): 
    c = a+b
    return c
    
add(4,5)

9

In [14]:
def add(a,b): 
    c = a+b
    return c
    
add(4,5,6)

TypeError: add() takes 2 positional arguments but 3 were given

In [15]:
def add(a,b,c): 
    c = a+b
    return c
    
add(4,5,6)

9

In [16]:
def add(a,b,c): 
    c = a+b-c
    return c
    
add(4,5,6)

3

In [17]:
def person(name,age):
    print(name)
    print(age)
    
person('nit', 22)

nit
22

In [18]:
def person(name,age):
    print(name)
    print(age)
    
person(22, 'nit')

22
nit

In [19]:
def person(name,age):
    print(name)
    print(age)
     
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [20]:
def person(name,age):
    print(name)
    print(age)
     
person('nit', 22)

nit
22

In [21]:
def person(name,age):
    print(name)
    print(age - 1)
     
person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

##### To ignore these error let me introduce keyowrd argument 
## Keyword Argument

In [31]:
def person(name,age):   # Psitional argument & Keyword argument
    print(name)
    print(age - 1)
     
person(age = 22, name = 'nit')

nit
21

In [32]:
def person(name,age, age2):
    print(name)
    print(age - 1)
    print(age2)
person(age = 22, name = 'nit', 23)

SyntaxError: positional argument follows keyword argument (3345238950.py, line 5)

In [33]:
def person(name,age, age2):
    print(name)
    print(age - 1)
    print(age2)
person(age = 22, name = 'nit', age2 = 23)

nit
21
23

In [34]:
def person(name,age):
    print(name)
    print(age)
     
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [37]:
def person(name,age=18):  # Default argument
    print(name)
    print(age)
     
person('nit')

nit
18

In [38]:
def person(name,age=18):
    print(name)
    print(age)
     
person('nit', 23)

nit
23

In [39]:
def sum(a, b):
    c = a+b
    return c
    
sum(5,6)

11

In [40]:
def sum(a, b): 
    c = a+b
    return c
    
sum(5,6,7,8,9,10)

TypeError: sum() takes 2 positional arguments but 6 were given

In [41]:
def sum(a, *b): 
    c = a+b
    return c
    
sum(5,6,7,8,9,10)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [42]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [43]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

In [44]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8,0,10, 100, 1000, -45)

1091

In [45]:
def person():
    person('ALEX', 36, 'JOHN', 987767)

In [47]:
def person(name,*data):
    print(name)
    print(data)

person('Aaru', 36, 'JOHN', 987767)

Aaru
(36, 'JOHN', 987767)

In [48]:
def person(name,*data):
    print('name')
    print(data)

person('Aaru', age = 36, home_place ='southcity', mob =987767)

TypeError: person() got an unexpected keyword argument 'age'

In [50]:
def person(name,**data):
    print(name)
    print(data)

person('Aaru', age = 36, home_place ='southcity', mob =987767, city = ['usa', 'uk'])

Aaru
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'city': ['usa', 'uk']}

##  Global & Local Argument

In [51]:
a = 10  #-- globla variable 

def something():
    b = 15 #local variable
    
    print('in function',b)    
    print('out function',a)

In [52]:
a = 10  

def something():
    b = 15 
    print('in function',b)    
    
print('out function',a)

out function 10

In [53]:
a = 10  

def something():
    b = 15 
    print('in function',b)    
    
print('out function',a) 

something()

out function 10
in function 15

In [54]:
x = 10  # Global variable

def update_x():
    global x  # Declare that we are using the global variable x
    x += 5    # Modify the global variable

update_x()
print(x)  # Output: 15

15

In [55]:
x = 10  # Global variable

def update_x():
    globals()['x'] += 5  # Access and modify the global variable using the dictionary

update_x()
print(x)  # Output: 15

15

- local variable 
- globla variable
- global keyword
- globals()